@{
    ViewData["Title"] = "Agendamentos";
}
<body>
    <main>
        <section class="pagina-inicial">
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Agendamento">Agendamentos</a>
            </div>
        </section>            
    </main>
</body>