@model PreAgendamento
@{
    ViewData["Title"] = "Agendamentos";
}

<html>
<body>
    <div id="area">
        <form method="POST" id="formulario">
        <fieldset>
            <legend>Pré-Agendamento</legend>
            <!-- nome -->
            <p>
                <label asp-for="Nome">Nome:</label>
                <input asp-for="Nome" class="campo_nome"/><br>
            </p>
            <!-- telefone -->
            <p>
                <label asp-for="Telefone">Telefone:</label>
                <input asp-for="Telefone" class="campo_telefone"/><br>
            </p>
            <!-- Data do agandamento-->
            <p>
                <label asp-for="DataTimes">Data:</label>
                <input asp-for="DataTimes" class="campo_data"/><br>
            </p>
            <!-- escolha do tipo do pet -->
            <p>
                <label asp-for="Animal" >Seu Pet:</label>
                <select asp-for="Animal" class="campo_animal">
                <option value="Ave">Ave</option>
                <option value="Canino">Canino</option>
                <option value="Felino">Felino</option>
                </select><br>
            </p> 
            <!-- necessidade do agendamento campo de texto-->
            <p class="mensagen">Obs:</p>
            <p>
                <textarea asp-for="Necessidade" class="campo_mensagem"></textarea><br>
            </p>
            <!-- botão que redireciona para checagem das informações do agendamento -->
            <p>
                <a href="ChecarLista.cshtml">
                <input class="botao_cadastrar" type="submit" value="Cadastrar" />
                </a>
            </p>
        </fieldset>
        </form>   
    </div>
</body>
</html>