@model PreAgendamento
@{
    ViewData["Title"] = "Confirmação";
}
<html>
<body>
    <div id="area">
        <form method="POST" id="formulario">
        <fieldset>
            <legend>Confirme Seus Dados</legend>
            <!-- nome -->
            <p>
                <label asp-for="Nome">Nome:</label>
                <input asp-for="Nome" class="campo_nome"/><br>
            </p>
            <!-- telefone -->
            <p>
                <label>Telefone:</label>
                <input asp-for="Telefone" class="campo_telefone"/><br>
            </p>
            <!-- Data do agandamento-->
            <p>
                <label>Data:</label>
                <input asp-for="DataTimes" class="campo_data"/><br>
            </p>
            <!-- escolha do tipo do pet -->
            <p>
                <label>Seu Pet:</label>
                <select asp-for="Animal" class="campo_animal">
                <option value="Ave">Ave</option>
                <option value="Canino">Canino</option>
                <option value="Felino">Felino</option>
                </select><br>
            </p> 
            <!-- necessidade do agendamento campo de texto-->
            <p class="mensagen">Descrição Do Serviço:</p>
            <p>
                <textarea asp-for="Necessidade" class="campo_mensagem"></textarea><br>
            </p>
            <!-- botão que redireciona para checagem das informações do agendamento -->
            <p>
                <input class="botao_cadastrar" type="submit" value="Cadastrar" />
                @* <a asp-action="Confirmacao" class="botao_cadastrar">Enviar </a> *@
            </p>
        </fieldset>
        </form>   
    </div>
</body>
</html>
@* <html>
<body>
    <div id="area" method="POST">
        <h2>Cheque os Dados se estão ok</h2><br>
<!-- Colunas a serem exibidas -->
<table>
   <thead>
       <tr>
           <th>Nome &nbsp;&nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;&nbsp;</th>
           <th>Telefone &nbsp;&nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;&nbsp;</th>
           <th>Data Agendamento &nbsp;&nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;&nbsp;</th>
           <th>Pet &nbsp;&nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;&nbsp;</th>
           <th>Nescessidade</th>
       </tr>
   </thead>
   <tbody>
        <td>@ViewBag.Nome</td>
        <td>@ViewBag.Data</td>
   </tbody>
    </div> 
    </p>
        <input class="botao_cadastrar" type="submit" value="Cadastrar" />
    </p>  
</body>
</html> *@
