@{
    ViewData["Title"] = "Home";
}
<body>
    <main>
        <section class="pagina-inicial">
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <!-- <a href="_Layout.cshtml"><div>Início</div></a>
                <a href="Servicos.cshtml"></a><div>Serviços</div>
                <a href="Agendamento.cshtml"></a><div>Agendamentos</div> -->
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Agendamento">Agendamentos</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Servicos">Serviços</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Início</a>
            </div>
        </section>
    </main>
</body>