@{
    ViewData["Title"] = "Home";
}
<body>
    <main>
        <section class="pagina-inicial">
            <p>
                Bem Vindo Ao Site Da Veterinária
            </p>
        </section>            
        <table>
            <img src="/images/image_home.png" alt="Imagem: Aqui, seu pet é tratado com rei." width="100%" height="200">
        </table>
    </main>
</body>