@{
    ViewData["Title"] = "Serviços";
}
<body>
    <main class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul>
            <li> Serviço 1
                <ul>
                    <li>subServiço 1<br>
                        e assim será feito...<br>
                        e assim será feito...<br>
                    </li>
                    <li>Valor<br>
                        R$ ...
                    </li>
                    <li>subServiço 2<br>
                        e assim será feito...<br>
                        e assim será feito...<br>
                    </li>
                    <li>Valor<br>
                        R$ ...
                    </li>
                </ul>
            </li>
            <li> Serviço 2
                <ul>
                    <li>subServiço 1<br>
                        e assim será feito...<br>
                        e assim será feito...<br>
                    </li>
                    <li>Valor
                        R$ ...
                    </li>
                    <li>subServiço 2<br>
                        e assim será feito...<br>
                        e assim será feito...<br>
                    </li>
                    <li>Valor<br>
                        R$ ...
                    </li>
                </ul>
            </li>
        </ul>
    </main>
</body>